{% extends "base.html" %}

{% block content %}
<div>
    <table class="table">
        <thead>
            <tr>
                <td>Puddle Name</td>
            </tr>
        </thead>
    {% for vm in vms %}
        <tr>
            <td><a href="{{ vm.get_absolute_url }}">{{ vm }}</a></td>
        </tr>
    {% endfor %}
    </table>


    <div class="pagination">
        <span class="step-links">
            {% if vms.has_previous %}
                <a href="?page={{ vms.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ vms.number }} of {{ vms.paginator.num_pages }}.
            </span>

            {% if vms.has_next %}
                <a href="?page={{ vms.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}